<!--Card 1-->
<div
  class="rounded group overflow-hidden shadow-lg max-w-sm transition-transform duration-500 ease-out transform scale-100 hover:scale-105 hover:z-10"
>
  <div class="relative flex justify-center">
    <img
      class="w-full"
      src="assets/images/home.jpg"
      alt="{{ property.name }}"
    />
    <div class="absolute bottom-0">
      <button
        class="transition duration-500 relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg bg-neutral-600 hover:bg-gradient-to-br from-green-400 to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 opacity-0 group-hover:opacity-100"
      >
        <span
          class="relative px-2.5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          <mat-icon>edit</mat-icon>
        </span>
      </button>
      <button
        class="transition duration-500 relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg bg-neutral-600 hover:bg-gradient-to-br from-green-400 to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 opacity-0 group-hover:opacity-100"
      >
        <span
          class="relative px-2.5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          <mat-icon>bookmark</mat-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ property.name }}</div>
    <p class="text-gray-700 text-base">{{ property.description }}</p>
  </div>
  <div class="px-6">
    <span>Bardzo ladny dom</span>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#photography</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#travel</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#winter</span
    >
  </div>
</div>
